*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 50px 0;
    padding: 0 30px;
    font-family: 'Roboto';
}

body::-webkit-scrollbar{
    width: 0;
    height: 0;
}

::selection{
    background-color: transparent;
}

.breadcrumb{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    width: fit-content;
}

.breadcrumb-current{
    color: #215f8f;
}

code{
    color: #c444b3;
    border-radius: 3px;
    font-size: 16px;
}

hr{
    margin: 10px 0;
    height: 1px;
    color: #ccc;
    background-color: #000;
}

p{
    font-size: 3vmin;
    line-height: 2em;
    letter-spacing: 0.05em;
    text-align: justify;
}

#progress{
    /* background-color: #458efb; */
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 70px;
    height: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    z-index: 1000;
}

#progress-value{
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
    background-color: #fff;
}

a{
    color: rgb(69, 142, 251);
    text-decoration: none;
}

nav{
    width: 100%;
    background-color: rgba(69, 142, 251, 0.7);
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    place-items: center;
}

.right{
    float: right;
}

.brand{
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}

.button{
    margin: 10px 5px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 17px;
    background-color: transparent;
    transition: all .1s;
    font-weight: 600;
    text-decoration: none;
    font-family: monospace;
}

.blue{
    border: 2px solid #365ca3;
    color: #365ca3;
    border-radius: 3px;
}

.green{
    border: 2px solid rgb(54, 163, 54);
    color: #36a336;
    border-radius: 3px;
}

.red{
    border: 2px solid #b83265;
    color: #b8285f;
    border-radius: 3px;
}

.orange{
    border: 2px solid #e96c19;
    color: #e96c19;
    border-radius: 3px;
}

.wrapper{
    position: absolute;
    z-index: 2000;
    /* visibility: hidden; */
    display: none;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, .1);
}

.wrapper .menu{
    padding: 10px 12px;
}

.content .item{
    list-style: none;
    font-size: 22px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
    cursor: pointer;
    width: 100%;
}

.content .item:hover{
    background-color: #f2f2f2;
}

.content .settings{
    display: flex;
    padding: 5px 12px;
    border-top: 1px solid #ccc;
    margin-top: -5px;
}

.content .item span{
    font-size: 19px;
    margin-left: 8px;
}

.content .share{
    position: relative;
    justify-content: space-between;
}

.share .share-menu{
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 200px;
    padding: 13px;
    opacity: 0;
    pointer-events: none;
    right: -200px;
    top: -35px;
    transition: all .2 ease;
}

.share:hover .share-menu{
    opacity: 1;
    pointer-events: auto;
}

.quiz{
    border: 1px solid #ccc;
    padding: 15px 5px;
    margin: 7px;
    border-radius: 5px;
}

.question{
    margin-left: 15px;
}

input[type="radio"]{
    display: none;
}

label{
    position: relative;
    color: #444;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px 10px;
}

label::before{
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #ccc;
}

input[type="radio"]:checked + label{
    border: 2px solid #1c64f2;
    color: #1c64f2;
}

input[type="radio"]:checked + label::before{
    height: 15px;
    width: 15px;
    border: 5px solid #1c64f2;
}

.problem{
    border: 1px solid #ccc;
    height: 400px;
    width: 100%;
    border-radius: 5px;
    padding: 7px 10px;
}

.body{
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    font-family: monospace;
}

textarea{
    width: 100%;
    height: 100%;
}

.data-area{
    width: 50%;
    float: left;
    padding: 5px;
    position: relative;
}

.code-area{
    width: 50%;
    padding: 5px;
    height: 85%;
    float: right;
}

.run{
    margin: 5px;
    padding: 5px 12px;
    border: none;
    border-radius: 11px 5px;
    background-color: #1c64f2;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.send{
    margin: 5px;
    padding: 5px 12px;
    border: none;
    border-radius: 11px 5px;
    background-color: #36a336;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.langs{
    font-size: 1.5rem;
    padding: 1px 1.5rem;
    background-color: #fff;
    color: #000;
    margin: 5px;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.check{
    width: 100%;
    height: 300px;
    display: flex;
    
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: red;
    border: 1px solid #ccc;
}